
    {% render 'gp-head', isThemeSection: true %}
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-620045173983806111.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-620045173983806111.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-620045173983806111.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-620045173983806111.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-620045173983806111.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-620045173983806111.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-620045173983806111.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-620045173983806111.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-620045173983806111.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-620045173983806111.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-620045173983806111.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-620045173983806111.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-620045173983806111.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-620045173983806111.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-620045173983806111.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-620045173983806111.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-620045173983806111.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-620045173983806111.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-620045173983806111.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-620045173983806111.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-620045173983806111.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-620045173983806111.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-620045173983806111.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-620045173983806111.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-620045173983806111.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-620045173983806111.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-620045173983806111.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-620045173983806111.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-620045173983806111.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-620045173983806111.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-620045173983806111.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-620045173983806111 .gp-relative{position:relative}.gps-620045173983806111 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-620045173983806111 .gp-mb-0{margin-bottom:0}.gps-620045173983806111 .gp-flex{display:flex}.gps-620045173983806111 .gp-grid{display:grid}.gps-620045173983806111 .\!gp-hidden{display:none!important}.gps-620045173983806111 .gp-hidden{display:none}.gps-620045173983806111 .gp-max-w-full{max-width:100%}.gps-620045173983806111 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-620045173983806111 .gp-flex-col{flex-direction:column}.gps-620045173983806111 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-620045173983806111 .gp-duration-200{transition-duration:.2s}.gps-620045173983806111 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-620045173983806111 .tablet\:\!gp-hidden{display:none!important}.gps-620045173983806111 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-620045173983806111 .mobile\:\!gp-hidden{display:none!important}.gps-620045173983806111 .mobile\:gp-hidden{display:none}}.gps-620045173983806111 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px))"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"g2Ljpk-EgK"}' data-id="g2Ljpk-EgK" id="g2Ljpk-EgK" data-same-height-subgrid-container class="g2Ljpk-EgK gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:0px;--bc:#121212;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--op:100%;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--d-mobile:none"
      class="gHf-cCFqd9 gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    "presets": [{ "name": "Section - May 18 23:55:20" }],
    "name": "Section - May 18 23:55:20",
    "tag": "section",
    "class": "gps-620045173983806111 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/s3x280-0x/apps/gempages-cro/app/shopify/edit?pageType=THEME_SECTION&editorId=620045173983806111)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}