
    
    
    <style>.gps-612929398852551498 .gp-relative{position:relative}.gps-612929398852551498 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-612929398852551498 .gp-mb-0{margin-bottom:0}.gps-612929398852551498 .gp-flex{display:flex}.gps-612929398852551498 .gp-grid{display:grid}.gps-612929398852551498 .\!gp-hidden{display:none!important}.gps-612929398852551498 .gp-hidden{display:none}.gps-612929398852551498 .gp-max-w-full{max-width:100%}.gps-612929398852551498 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-612929398852551498 .gp-flex-col{flex-direction:column}.gps-612929398852551498 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-612929398852551498 .gp-duration-200{transition-duration:.2s}.gps-612929398852551498 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-612929398852551498 .tablet\:\!gp-hidden{display:none!important}.gps-612929398852551498 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-612929398852551498 .mobile\:\!gp-hidden{display:none!important}.gps-612929398852551498 .mobile\:gp-hidden{display:none}}.gps-612929398852551498 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#151515","image":{"height":0,"src":"","width":0},"loop":false,"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"},"mobile":{"attachment":"scroll","color":"#151515","image":{"height":0,"src":"","width":0},"loop":false,"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"}},"uid":"g2h8wnAhnX"}' data-id="g2h8wnAhnX" id="g2h8wnAhnX" data-same-height-subgrid-container class="g2h8wnAhnX gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:80px;--pl:0px;--pb:80px;--pr:0px;--pt-mobile:72px;--pl-mobile:20px;--pb-mobile:72px;--pr-mobile:20px;--pt-tablet:80px;--pl-tablet:0px;--pb-tablet:80px;--pr-tablet:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#151515;--bgc-mobile:#151515;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g6ya3n4zQp gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g4VAlXhgJj"
        class="g4VAlXhgJj"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:0px;--mr:0px;--pl:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pl-mobile:0px;--pr-mobile:0px;--ml-tablet:0px;--mb-tablet:0px;--mr-tablet:0px;--pl-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:790px;--w-tablet:790px;--w-mobile:790px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:300;--size:13px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg4VAlXhgJj_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-612929398852551498 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/s3x280-0x/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=612929398835774282&sectionId=612929398852551498)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg2h8wnAhnX_background_desktop_videoHtml5","label":"gg2h8wnAhnX_background_desktop_videoHtml5","default":"https://media.w3.org/2010/05/sintel/trailer.mp4"},{"type":"html","id":"gg2h8wnAhnX_background_mobile_videoHtml5","label":"gg2h8wnAhnX_background_mobile_videoHtml5","default":"https://media.w3.org/2010/05/sintel/trailer.mp4"},{"type":"html","id":"gg4VAlXhgJj_text","label":"gg4VAlXhgJj_text","default":"<p>&nbsp;</p><p>The information provided is not medical advice and should not replace consultation with a qualified healthcare provider. Always consult your physician before starting any new supplement regimen, especially if you have existing medical conditions or take prescription medications.</p><p>&nbsp;</p><p>These statements have not been evaluated by the FDA. This product is not intended to diagnose, treat, cure, or prevent any disease.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}